html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* header */
.header {
  position: fixed;        
  width: 100%;             
  display: flex;
  align-items: center;
  height: 100px;             
  padding-left: 10px;     
}

.logo{
  margin-left: 100px;
}

.nav {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 初期状態では影なし */
  position: static;
  position: absolute;
  top: 20px;
  right: 40px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}


.nav a {
  text-decoration: none;
  color: #e36c0a;
  transition: 1s;
  font-weight: bold;
}

.nav a:hover{
  text-shadow: 0 8px 20px rgba(255, 97, 35, 0.3);
  transform: translateY(-3px);           
}

.main_wrap {
  display: flex;
}

.top_img img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  display: block;
}
.top {
  font-family: "Archivo Black", sans-serif;  
  flex: 1;
  background: #fdf2cc;   
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top_text {
  width: 50vw;
}

.top_text h1 {
  position: relative;
  right: 70%;
  font-size: 100px;
  color: #e36c0a;
  line-height: 1.3;
}

.top_text span {
  color: #FF6600;
  position: relative;
  left: 13%;
  font-weight: bold;
  font-size: 120px;
}

.top_text .designer {
  position: relative;
  width: fit-content;
  font-size: 80px;
  color: #8f8f8f;
  margin-top: 10px;
}


.container {
    width: 80%; 
    margin: 0 auto;
}
.about{
  margin-left: 100px;
}

.about_content{
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.about h2{
  font-family: "Archivo Black", sans-serif;  
  margin-top: 130px;
  font-size: 32px;
  line-height: 150px;
  color: #e36c0a;
}

.about p{
  font-size: 20px;
}

.about span{
  line-height: 30px;
}

.my_picture img{
  display: flex;
  width: 350px;
  height: 320px;
  border-radius: 20px;
}

.about a{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fefefe;
  text-decoration: none;
}

.btn_wrap{
  margin-top: -55px;
  width: 190px;
  height: 50px;
  background: #e36c0a;
  border-radius: 30px;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
  flex-wrap: wrap;
}

.btn_wrap:hover {
  box-shadow: 0 8px 20px rgba(255, 97, 35, 0.3); 
  transform: translateY(-3px);            
}









#skill {
  background: #fdf2cc;
  padding: 80px 0;
  margin-top: 200px;
}

.skill h2 {
  font-family: "Archivo Black", sans-serif;  
  font-size: 32px;
  color: #e36c0a;
  margin-bottom: 50px;
  margin-left: 100px;
}

.skill_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.skill_item {
  background: #fff8e1;
  border: 2px solid #f4d59f;
  border-radius: 20px;
  padding: 40px 20px;
  width: 360px;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

.skill_item .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.skill_item .title img {
  width: 100px;
  margin-bottom: 15px;
}

.skill_item .title h3 {
  font-size: 22px;
  color: #e36c0a;
}

.skill_item p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.8;
}

.skill_item .can {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  color: #e36c0a;
}
.skill_item .can img {
  width: 20px;
  height: 20px;
}

.works h2{
  font-family: "Archivo Black", sans-serif;  
  font-size: 32px;
  color: #e36c0a;
  margin-left: 100px;
  margin-top: 130px;
}

.work_item{
  p{
    color: #e36c0a;
  }
  h3{
    color: #555;
  }
}

.work_web{
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  img{
    width: 320px;
    height: 220px;
    border-radius: 10px;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

  }
}


.web_img img:hover{
  box-shadow: 0 8px 20px rgba(255, 97, 35, 0.3);
  transform: translateY(-3px);           
}

.work_baner{
  display: flex;
  justify-content: space-evenly;
      flex-wrap: wrap;

  margin-top: 150px;
}

.work_img{
  display: flex;
  justify-content: center;
  img{
    width: 220px;
    height: 220px;
    border-radius: 10px;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

  }
}

.work_img img:hover {
  box-shadow: 0 8px 20px rgba(255, 97, 35, 0.3); 
  transform: translateY(-3px);            
}










.footer{
  height: 400px;
  width: 100%;
  background: #fdf2cc;
  color: #e36c0a;
  font-family: "Archivo Black", sans-serif;  
  margin-top: 130px;
}


.footer h2{
  padding-top: 70px;
  font-size: 48px;
}

.footer a{
  font-size: 36px;
  color: #e36c0a;
}

.copy{
  display: flex;
  justify-content: center;
  padding-top: 130px;
}


@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .top_img,
  .top {
    flex: unset;
    width: 100%;
    height: 50vh;
  }

  .top {
    align-items: center;
    text-align: center;
  }
}
