html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;

}

.header {
  position: fixed;         
  top: 0;                   
  left: 0;
  width: 100%;             
  display: flex;
  align-items: center;
  height: 100px;            
  overflow: hidden;
  padding-right: 10px;     
}

.logo{
  margin-left: 100px;
}

.nav {
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
  position: static;
  position: absolute;
  top: 20px;
  right: 40px;
}

.nav a:hover{
  box-shadow: 0 8px 20px rgba(255, 97, 35, 0.3); 
  transform: translateY(-3px);           
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #e36c0a;
  font-weight: bold;
}

.container {
    width: 80%;   
    margin: 0 auto;  
}


.about_section {
  background: #fdf2cc;
  width: 100%;
  height: 835px;
  overflow: hidden;
}

.about_title {
  font-family: "Archivo Black", sans-serif;
  color: #e36c0a;
  font-size: 64px;
  margin-top: 150px;
  margin-left: 260px;
}

.about_wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}

.about_text {
  color: #333;
  line-height: 2;
  max-width: 600px;
  p{
    font-size: 16px;
  }
}

.about_text h3 {
  border-bottom: 3px solid #e36c0a;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.about_text span {
  color: #e36c0a;
  font-size: 16px;
}


.strengths_title {
  font-family: "Archivo Black", sans-serif;
  color: #e36c0a;
  font-size: 32px;
  margin-left: 280px;
  margin-top: 120px;
}

.strengths_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 60px;
}

.strengths_img img {
  width: 350px;
  height: 320px;
  margin-top: 170px;
  border-radius: 20px;
}

.strengths_text {
  max-width: 600px;
  gap: 80px;
}

.strength_item h3 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.strength_item h3 span {
  color: #e36c0a;
  font-size: 20px;
  margin-right: 5px;
}

.strength_item p {
  color: #333;
  font-size: 16px;
  line-height: 2;
}

.strength_item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}

.strength_item:hover {
  transform: translateY(-4px);
  transition: all 0.5s ease;
}










.footer{
  height: 400px;
  width: 100%;
  background: #fdf2cc;
  color: #e36c0a;
  font-family: "Archivo Black", sans-serif;  
  margin-top: 130px;

}

.footer h2{
  padding-top: 70px;
  font-size: 48px;
}

.footer a{
  font-size: 36px;
  color: #e36c0a;
}

.copy{
  display: flex;
  justify-content: center;
  padding-top: 130px;
}


@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .top_img,
  .top {
    flex: unset;
    width: 100%;
    height: 50vh;
  }

  .top {
    align-items: center;
    text-align: center;
  }
}
